<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.nutrilline">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/index"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DoctorSetMaxIntakesPage"></activity>
        <activity android:name=".AllNutritionalLogsDoctorPage" />
        <activity android:name=".DailyLogPage2" />
        <activity
            android:name=".SendEmailPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientsListPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NutritionistLogInPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NutritionistHomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiLoginPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DailyLogPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrentNutritionalIntakesPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllNutritionalLogsPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OneMessagePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessagesPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManualNutritionAdditionPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRNutritionScanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordPage"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyEmailPage"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpPage"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginPage"
            android:noHistory="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>